@use "./styles/global" as *;

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1,h2,h3,h4,h5 {
  font-family: 'Italiana', serif;
  color: #fff;
  margin-bottom: 32px !important;
}

h1 {
  font-size: 60px !important;
}

h2 {
  font-size: 40px !important;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8em;
}



.App {
  &__header {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      height: 20vh;
      background: linear-gradient(
        rgba(0,0,0,1),
        rgba(0,0,0,0)
      );
      pointer-events: none;
      z-index: -1;
    }
  }

  &__logo {
    width: 42px;
    height: auto;
    pointer-events: none;
  }
  
  &__scroll {
    width: 100%;
  }

  &__container {
    position: relative;
  }

  &__column {
    padding: 0 !important;
    margin-bottom: 4rem;
  }

  &__row{
    align-items: center;
    position:absolute;
    width: 100%;
    height: 100vh;
    padding: 0px 30px;
    justify-content: center;
    text-align: center;

    &-skills{
      top:100vh;

      @include desktop{
        top: 60vh;
      }
    }

    &-projects{
      top: 170vh;
      

      @include desktop{
        top: 140vh;
      }
    
    }

    &-contact{
      top: 280vh;
      

      @include desktop{
        top: 200vh;
      }
    
    }

    
  }



  &__card{
    background-color: rgb(255, 255, 255) !important;
    border-radius: 0 !important;
    position: absolute !important;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 300px;
    transition: all 0.7s cubic-bezier(.63,.15,.03,1.12);
    // border-width: 0 !important;
    // border: 6px white solid !important;
    display: flex !important;


    &:hover{
      cursor: pointer;
    }

    &-text{
      color: black;
      margin-bottom: 0 !important;
      padding-top: 1rem;
      
    }
  }

  &__image{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  &__buttons{
    align-self: flex-end;
  }

  &__button{
    background-color: transparent !important;
    color: black !important;
    border-color: transparent !important;
    cursor: pointer;
    font-weight: bold !important;
    
    
  }

  &__icons{
    display: flex ;
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-between;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      height: auto;
    }
    
  }
}

// Override bootstrap styles
.col-6{
  width: auto !important;
  @include tablet{
    width: 50% !important;
  }
}



// Project card animation
.card1{ 
  z-index: 10; 
  transform: rotateZ(-2deg) translate(-50%, 0);
}

.card2{ 
  z-index: 9; 
  transform: rotateZ(-5deg) translate(-50%, -5%);
  transition-delay: 0.05s;
  
}

.card3{ 
  z-index: 8; 
  transform: rotateZ(5deg) translate(-50%, 5%);
  transition-delay: 0.1s;
}

.transition{
  border-width: 0 !important;
  position: relative;
  transform: rotateZ(0deg);
  margin-bottom: 1rem;
  border-radius: 0 !important;
  display: grid !important;
  

  @include tablet{
    background-color: rgb(255, 255, 255) !important;
    position: absolute !important;
    margin-bottom: 0;
    height: 300px !important;
    width: 300px;
    transition: all 0.9s cubic-bezier(.63,.15,.03,1.12);
 

    &.card1{
      left:0px;
    }

  }  

  &:hover{
    transition: none;
    box-shadow: 0 0 10px #fff;
    
    .App__image{
      filter: none;
      -webkit-filter: grayscale(0);
    }
    
  }

  

}